.landing-container {
  margin-top:95px;
  display: flex;
  flex-direction: column;
}

.landing-overview-section {
  display: flex;
  flex-direction: row;
  background-color: #3c3c3b;
}

.landing-overview-section-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 50px;
}

.landing-overview-section-text > h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  color: #ffffff;
  width: 100%;
  max-width: 500px;
  font-size: 2.5rem;
}

.landing-overview-section-text-bridge > h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.1rem;
}

.landing-overview-section-text-bridge{
  display: flex;
  flex-direction: column;
  align-items: normal;
  gap: 20px;
}

.landing-overview-section-text-bridge > a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.1rem;
  background-color: #2550A4;
  border: 1px solid #2550A4;
  transition: 0.3s ease-in;
  text-decoration: none;
  width: fit-content
}

.landing-overview-section-text-bridge > a:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #3c3c3b;
  cursor: pointer;
}

.landing-overview-section > img{
  width: 100%;
  max-width: 665px;
  height: auto;
}

.landing-service-section{
  display: flex;
  flex-direction: column;
  padding: 50px 90px;
  background-color: #F4F4F3;
}

.landing-service-section > h4{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  color: #3c3c3b;
  font-size: 2.5rem;
}

.landing-service-section > h6{
  margin-top: 10px;
  margin-bottom: 50px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  width: 550px;
  color: #3c3c3b;
  font-size: 0.9rem;
}

.landing-service-section-card{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.landing-service-section-card-item-column{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.landing-service-section-card-item{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #DFE0DF;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  width: 100%;
  transition: ease-in 0.3s;
}

.landing-service-section-card-item > img{
  width: 25px;
  height: auto;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 13px;  
}

.landing-service-section-card-item > h4{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  color: #3c3c3b;
  font-size: 1.5rem;
}

.landing-service-section-card-item > h6{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  color: #3c3c3b;
  font-size: 0.9rem;
}

.landing-service-section-card-item > a{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #2550A4;
}

.landing-service-section-card-item:hover{
  background-color: #3c3c3b;
}

.landing-service-section-card-item:hover > h4{
  color: #ffffff;
}

.landing-service-section-card-item:hover > h6{
  color: #ffffff;
}

.landing-service-section-card-item:hover > a{
  color: #D3A24A;
}

.landing-service-section-card-item-link{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #DFE0DF;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  width: 100%;
  transition: ease-in 0.3s;
  background-color: #2550A4;
  text-decoration: none;
}

.landing-service-section-card-item-link > img{
  width: 25px;
  height: auto;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 13px;  
}

.landing-service-section-card-item-link > h4{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.5rem;
}

.landing-service-section-card-item-link > h6{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 0.9rem;
}

.landing-service-section-card-item-link:hover{
  background-color: #F4F4F3;
  border: 1px solid #2550A4;
}

.landing-service-section-card-item-link:hover > h4{
  color: #2550A4;
}
.landing-service-section-card-item-link:hover > h6{
  color: #3c3c3b;
}

.landing-about-section{
  display: flex;
  flex-direction: column;
  padding: 50px 90px;
}

.landing-about-section-top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.landing-about-section-top-text > h4{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  color: #3c3c3b;
  font-size: 2.5rem;
}

.landing-about-section-top-text > h6{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  margin-top: 10px;
  color: #3c3c3b;
  font-size: 0.9rem;
  width: 565px;
}

.landing-about-section-top > a{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.1rem;
  background-color: #2550A4;
  transition: 0.3s ease-in;
  text-decoration: none;
}

.landing-about-section-top > a:hover{
  background-color: #3c3c3b;
}

.landing-about-section-bottom{
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.landing-about-section-bottom > img{
  width: 100%;
  max-width: 450px;
}

.landing-about-section-bottom-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.landing-about-section-bottom-vision{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #F4F4F3;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #dfe0df;
}

.landing-about-section-bottom-vision > h1{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  color: #3c3c3b;
  font-size: 2rem;
}

.landing-about-section-bottom-vision > h6{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  color: #3c3c3b;
  font-size: 0.9rem;
}

.landing-about-section-bottom-vision > h6 > a{
  color: #3c3c3b;
  text-decoration: none;
  padding-left: 5px;
  font-weight: 600;
}

.landing-about-section-bottom-text > a{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #dfe0df;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  color: #3c3c3b;
  font-size: 2rem;
  text-decoration: none;
}

.landing-certificate-section{
  display: flex;
  flex-direction: column;
  padding: 50px 90px;
}

.landing-certificate-section-top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.landing-certificate-section-text > h1{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  color: #3c3c3b;
  font-size: 2.5rem;
}

.landing-certificate-section-text > h6{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  color: #3c3c3b;
  font-size: 0.9rem;
  width: 550px;
  margin-top: 10px;
}

.landing-certificate-section-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.landing-certificate-section-button > button{
  padding: 10px 10px;
  background-color: #2550A4;
  border: none;
  transition: 0.3s ease-in-out;
}

.landing-certificate-section-button > img{
  width: 25px;
  height: 25px;
}

.landing-certificate-section-button > button:hover{
  background-color: #3c3c3b;
}

.certificate-card-carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

.certificate-carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: max-content;
}

.certificate-img-wrapper {
  flex: 0 0 calc(100% / 3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  box-sizing: border-box;
}

.certificate-img{
  width: 100%;
  max-width: 400px;
  height: auto;
  border: 1px solid #3c3c3b;
  object-fit: contain;
}

.landing-client-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  background-color: #F4F4F3;
}

.landing-client-section > h1{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  color: #3c3c3b;
  font-size: 2.5rem;
}

.landing-client-section > h6{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  color: #3c3c3b;
  font-size: 0.9rem;
  width: 600px;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
}

.client-card-carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.client-marquee {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.client-track {
  display: flex;
  width: max-content;
  animation: scroll-left 60s linear infinite;
}

.client-item {
  flex: 0 0 auto;
  padding-right: 40px;
}

.client-img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 1280px) {
  .landing-overview-section > img{
    max-width: 600px;
    width: auto;
  }
}

@media (max-width: 1080px) {
  .landing-overview-section > img{
    max-width: 500px;
    width: auto;
  }
  .landing-overview-section-text > h1 {
    font-size: 2rem;
  }
  
  .landing-overview-section-text-bridge > h4 {
    font-size: 1rem;
  }
}

@media (max-width: 960px) {
  .landing-container {
    margin-top:75px;
  }
  .landing-overview-section > img{
    max-width: 500px;
    width: auto;
  }
  .landing-overview-section-text > h1 {
    font-size: 1.8rem;
  }
  
  .landing-overview-section-text-bridge > h4 {
    font-size: 0.8rem;
  }
  .landing-service-section-card-item-column{
    flex-direction: column;
    gap: 20px;
  }
  .landing-about-section-bottom{
    flex-direction: column;
    align-items: center;
    gap: 20px;
  } 
  .landing-about-section-top-text{
    margin-bottom: 25px;
  }
}

@media (max-width: 768px){
  .landing-overview-section > img{
    max-width: 380px;
    width: auto;
  }
  .landing-overview-section-text > h1 {
    font-size: 1.5rem;
  }
  .landing-overview-section-text-bridge > h4 {
    font-size: 0.7rem;
    width: 300px;
  }
  .landing-overview-section-text-bridge > a {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 0.6rem;
    margin-top: 0px;
  }
  .landing-service-section{
    padding: 50px 50px;
  }
  .landing-service-section > h4{
    font-size: 2rem;
  }
  .landing-service-section > h6{
    max-width: 450px;
    width: 100%;
    font-size: 0.7rem;
  }
  .landing-service-section-card{
    flex-direction: column;
  }
  .landing-service-section-card-item-column{
    flex-direction: row;
  }
  .landing-service-section-card-item{
    max-width: 250px;
    width: 100%;
  }
  .landing-service-section-card-item > img{
    width: 20px;
    padding: 10px;  
  }
  .landing-service-section-card-item > h4{
    font-size: 1.3rem;
  }
  .landing-service-section-card-item > h6{
    font-size: 0.7rem;
  }
  .landing-service-section-card-item > a{
    font-size: 0.7rem;
  }
  .landing-service-section-card-item-link > img{
    width: 20px;
    padding: 10px;  
  }
  .landing-service-section-card-item-link > h4{
    font-size: 1.3rem;
  }
  .landing-service-section-card-item-link > h6{
    font-size: 0.7rem;
  }
  .landing-about-section{
    padding: 50px 50px;
  }
  .landing-about-section-top{
    flex-direction: column;
    align-items: normal;
    margin-bottom: 25px;
  }
  .landing-about-section-top-text > h4{
    font-size: 2rem;
  }
  .landing-about-section-top-text > h6{
    font-size: 0.7rem;
    max-width: 450px;
    width: 100%;
  }
  .landing-about-section-top > a{
    font-size: 0.7rem;
    width: fit-content;
  }
  .landing-about-section-bottom-vision > h1{
    font-size: 1.5rem;
  }
  .landing-about-section-bottom-vision > h6{
    font-size: 0.7rem;
  }
  .landing-about-section-bottom-text > a{
    font-size: 1.5rem;
  }
  .landing-client-section > h1{
    font-size: 2rem;
  }
  .landing-client-section > h6{
    font-size: 0.7rem;
    max-width: 500px;
    width: 100%;
  }
  .client-img {
    width: 100%;
    max-width: 125px;
  }
  .landing-certificate-section{
    padding: 50px 50px;
  }
  .landing-certificate-section-top{
    flex-direction: column;
    align-items: normal;
    margin-bottom: 50px;
  }
  .landing-certificate-section-text > h1{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    color: #3c3c3b;
    font-size: 2rem;
  }
  .landing-certificate-section-text > h6{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    color: #3c3c3b;
    font-size: 0.7rem;
    max-width: 400px;
    width: 100%;
  }
  .landing-certificate-section-button{
    gap: 15px;
    margin-top: 20px;
  }
  .landing-certificate-section-button > button{
    padding: 7px 7px;
  }
  .certificate-img-wrapper {
    flex: 0 0 calc(100% / 2);
  }
}


@media (max-width: 480px){
  .landing-overview-section{
    flex-direction: column-reverse;
    align-items: center;
  }
  .landing-overview-section > img{
    max-width: 100vw;
    width: auto;
  }
  
  .landing-overview-section-text{
    padding: 25px 35px;
  }
  .landing-overview-section-text > h1 {
    font-size: 1.5rem;
  }
  .landing-overview-section-text-bridge > h4 {
    font-size: 0.7rem;
    margin-top: 50px;
    width: 300px;
  }
  .landing-overview-section-text-bridge > a {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 0.6rem;
    margin-top: 0px;
  }
  .landing-service-section > h4{
    font-size: 1.8rem;
  }
  .landing-service-section > h6{
    max-width: 450px;
    width: 100%;
    font-size: 0.7rem;
  }
  .landing-service-section-card{
    flex-direction: column;
  }
  .landing-service-section-card-item-column{
    flex-direction: column;
  }
  .landing-service-section-card-item{
    max-width: 300px;
    width: 100%;
  }
  .landing-service-section-card-item > img{
    width: 20px;
    padding: 10px;  
  }
  .landing-service-section-card-item > h4{
    font-size: 1.2rem;
    width: 100%;
    max-width: 250px;
  }
  .landing-service-section-card-item > h6{
    width: 100%;
    max-width: 250px;
    font-size: 0.7rem;
  }
  .landing-service-section-card-item > a{
    font-size: 0.7rem;
  }
  .landing-service-section-card-item-link > h4{
    font-size: 1.2rem;
    width: 100%;
    max-width: 250px;
  }
  .landing-service-section-card-item-link > h6{
    width: 100%;
    max-width: 250px;
    font-size: 0.7rem;
  }
  .landing-about-section-top-text > h4{
    font-size: 1.8rem;
  }
  .landing-about-section-top-text > h6{
    font-size: 0.7rem;
  }
  .landing-about-section-top > a{
    font-size: 0.7rem;
  }
  .landing-about-section-bottom-vision > h1{
    font-size: 1.5rem;
  }
  .landing-about-section-bottom-vision > h6{
    font-size: 0.7rem;
  }
  .landing-about-section-bottom-text > a{
    font-size: 1.5rem;
  }
  .landing-client-section > h1{
    font-size: 1.8rem;
  }
  .landing-client-section > h6{
    font-size: 0.7rem;
    max-width: 380px;
    width: 100%;
  }
  .certificate-img-wrapper {
    flex: 0 0 calc(100% / 1);
  }
}