.contact-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 150px;
  padding: 50px 90px;
  margin-top: 85px;
}

.contact-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-text > h1{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  color: #3c3c3b;
  font-size: 2rem;
}

.contact-text > h4{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  color: #3c3c3b;
  font-size: 0.9rem;
  max-width: 500px;
  width: 100%;
  margin-bottom: 20px;
}

.contact-item{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 10px;
}

.contact-item > img{
  width: 25px;
  height: 25px;
}

.contact-item > h4{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  color: #3c3c3b;
  font-size: 0.9rem;
  max-width: 250px;
  width: 100%;
}

.contact-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form-name{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.contact-form-name > input{
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #3c3c3b;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  color: #3c3c3b;
  font-size: 0.9rem;
  max-width: 500px;
  width: 100%;
}

.contact-form-name > input:focus{
  outline: none;
  border: 1px solid #3c3c3b;
}

.contact-form > h4{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  color: #3c3c3b;
  font-size: 0.9rem;
}

.contact-form > input{
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #3c3c3b;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  color: #3c3c3b;
  font-size: 0.9rem;
}

.contact-form > input:focus{
  outline: none;
  border: 1px solid #3c3c3b;
}

.contact-form > textarea{
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #3c3c3b;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  height: 150px;
  color: #3c3c3b;
  font-size: 0.9rem;
  resize: none;
}

.contact-form > textarea:focus{
  outline: none;
  border: 1px solid #3c3c3b;
}

.contact-form > button{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 0.9rem;
  background-color: #2550A4;
  transition: 0.3s ease-in;
  text-decoration: none;
  width: fit-content
}

button.success {
  background-color: #25a43c;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

button.error {
  background-color: #a42525;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

button.sending {
  background-color: #9ca425;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

.contact-form > button:hover {
  background-color: #3c3c3b;
}

@media (max-width: 1080px) {
  .contact-container{
    gap: 80px;
  }
}

@media (max-width: 768px) {
  .contact-container{
    flex-direction: column-reverse;
  }
  .contact-container{
    padding: 50px 50px;
  }

  .contact-text > h1{
    font-size: 1.8rem;
  }
  
  .contact-text > h4{
    font-size: 0.7rem;
  }

  .contact-form > h4{
    font-size: 0.9rem;
  }
  .contact-form-name > input{
    font-size: 0.7rem;
  }
  .contact-form > input{
    font-size: 0.7rem;
  }
  .contact-form > textarea{
    height: 150px;
    font-size: 0.7rem;
  }
  .contact-form > button{
    font-size: 0.7rem;
    font-weight: 600;
    padding: 10px 20px;
  }
  .contact-item > img{
    width: 20px;
    height: 20px;
  }
  
  .contact-item > h4{
    font-size: 0.7rem;
    max-width: 180px;
    width: 100%;
  }
}